.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    .header__socials {
      display: none;
    }
  }
}

.header__menu {
  @include tablets {
    display: none;
  }
}

.header__socials {
  display: none;

  @include tablets {
    &:nth-child(3) {
      padding-right: 7%;
      margin-left: auto;
    }
  }
}