.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__socials {
  @include tablets {
    &:nth-child(3) {
      padding-right: 7%;
      margin-left: auto;
    }
  }
}