.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 57px 0 127px;
}

.hero__bottom-btns {
  display: flex;
  justify-content: center;
}