.menu {
  &--theme-light {
    color: #fff;

    & {
      .menu__link {
        transition: .2s;

        &:hover {
          text-decoration: none;
          color: hsla(0, 0%, 100%, .45);
        }
      }
    }
  }
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $links-hcolor;
    text-decoration: underline;
  }
}