.reviews {
  background: url('~images/content/bg/budda.jpg') top right 54% no-repeat;
  padding: 57px 0;
}

.reviews__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__section-title {
  margin-right: 116px;
}