.reviews {
  background: url('~images/content/bg/budda.jpg') top right 54% no-repeat;
  padding: 57px 0;
}

.reviews__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    height: 100%;
    padding: 150px 0;
  }
}

.reviews__section-title {
  margin-right: 8%;

  @include tablets {
    margin-right: 4%;
  }

  @media (max-width: 550px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}