.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablets {
    align-items: center;
  }
}

.skills__item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}