.slider__header {
  display: flex;
  align-items: center;
  margin-bottom: 76PX;
}

.slider__btn {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__content {
  display: flex;
  padding-right: 26%;
  padding: 0 23% 0 5%;

  @include desktop {
    padding: 0 0 0 7%;
  }
}

.slider__item {
  width: 36%;
  margin: 0 120px 0 0;

  &:last-child {
    margin-right: 0;
  }
}