.square-btns__item {
  width: 53px;
  height: 53px;
  background-color: #252830;

  &::before {
    content: svg-load('arrow-down.svg', fill=#717883, width=100%, height=100%);
    width: 18px;
    height: 18px;
    display: inline-block;
  }

  &--next {
    &::before {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    &::before {
      content: svg-load('arrow-down.svg', fill=$text-color, width=100%, height=100%);
    }
  }
}