.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;

  @include desktop {
    margin-bottom: 22px;
  }

  @include tablets {
    margin-bottom: 28px;
  }
}

.tags__item {
  margin: 0 8px 12px 0;

  @include tablets {
    margin: 0 12px 0 0;
  }

  &:last-child {
    margin-right: 0;
  }
}