.thumbs__item {
  &.active {
    .thumbs__link {

      .thumbs__img {
        border: 3px solid #DC9322;
        filter: contrast(.7);
      }
    }
  }
}

.thumbs__link {
  display: block;
  cursor: auto;
  padding: 0;
}

.thumbs__img {
  max-width: 100%;
  filter: contrast(1);
  transition: filter .3s;
}