.userinfo {
  text-align: center;
}

.userinfo__title {
  font-size: 18px;
  font-weight: 600;
  color: rgba(70, 78, 98, 0.5);
  margin-bottom: 28px;
}

.userinfo__name {
  font-size: 72px;
  font-weight: 800;
  line-height: .8;
}