.user-display {
  display: flex;
  align-items: center;
}

.user-display__avatar {
  margin-right: 32px;

  @include phones {
    margin-right: 14px;
  }
}

.user-display__avatar-style {
  width: 75PX;
  height: 75PX;
  border-radius: 50%;
  overflow: hidden;
}

.user-display__name {
  font-size: 18px;
  font-weight: 700;
  color: $text-color;
  margin-bottom: 12px;
}

.user-display__occupation {
  font-weight: 600;
  color: rgba($text-color, .5);
}