.user__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.user__avatar-style {
  width: 200px;
  height: 200px;
}

.user__avatar-pic {
  border-radius: 50%;
}

.user__data {
  width: 112%;
  border-spacing: 0 14px;
  padding-left: 28px;
}

.user__data-title {
  font-weight: 600;
  color: rgba(70, 78, 98, 0.5);

  &:after {
    content: ':';
  }
}

.user__data-content {
  font-weight: 600;
}