.values {
  background: url('~images/content/bg/backpack.png') bottom left no-repeat;
  margin: 146px 0;
}

.values__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.values__title-text {
  font-size: 30px;
  font-weight: 700;
  color: $text-color;
  margin-bottom: 56px;
  width: 40%;
}

.values__content {
  font-weight: 600;
  line-height: 1.8;
  color: rgba($text-color, .8);
  width: 40%;
}