.headline-component {
  background: #43436B;
  color: #fff;
}

.headline-container {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.title {
  font-size: 14px;
  color: rgba(255, 255, 255, .5);
  margin-left: 26px;
}

.buttons {
  margin-left: auto;
}

.btn {
  font-size: 16px;
  color: rgba(255, 255, 255, .9);
  text-decoration: underline;
}