extends ./main.layout.pug

block content
  .welcome-section
    section.hero
      .container.hero__container 
        header.header
          a.logo(href="#") ЕЛ
          nav.menu 
            - const menuItems = ['Обо мне', 'Навыки', 'Работы', 'Отзывы'];
            ul.menu__list
              for item in menuItems 
                li.menu__item 
                  a(href="#").menu__link #{item} 

            - const socials = ['insta', 'vk', 'github', 'envelope'];
          ul.socials 
              for item in socials 
                li.socials__item 
                  a(href="#").socials__link   
                   +icon(item, "socials__icon")
        .userinfo 
            .userinfo__title Личный сайт#[br]веб разработчика
            h1.userinfo__name Елена#[br]Ладинская 

        .hero__bottom-btns 
            button.scroll-down-btn Скролл